.services .ant-collapse-content-box {
  background-color: #FAFAFA !important;
}

#checkbox[type="checkbox"] {
  width: 25px;
  height: 25px;
  border: 1px solid #1C4792
}

.ant-input-number .ant-input-number-input {
  font-family: Inter;
}

.ant-tabs-large>.ant-tabs-nav .ant-tabs-tab {
  padding: 10px;
}

.ant-collapse>.ant-collapse-item.ant-collapse-no-arrow>.ant-collapse-header {
  padding-left: 15px !important;
}