.ant-form-item .ant-form-item-label>label {
  font-family: Poppins-SemiBold !important;
}

.ant-btn-primary {
  border-color: rgb(28, 71, 146) !important;
}

.ant-btn {
  height: 36px !important;
  border-radius: 5px !important;
}