.ant-steps-item-title {
  /* display: none;  */
  padding-inline-end: 0px !important;
}

.ant-steps.ant-steps-horizontal:not(.ant-steps-label-vertical) .ant-steps-item {
  padding-inline-start: 8px !important;
}

.ant-steps .ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title::after {
  background-color: #0DB7AA !important;
}

.ant-steps .ant-steps-item-process .ant-steps-item-icon {
  background-color: #1C4792;
  border-color: #1C4792;
}

.ant-steps .ant-steps-item-process .ant-steps-item-icon>.ant-steps-icon {
  font-family: Poppins;
}

.ant-steps .ant-steps-item-wait .ant-steps-item-icon>.ant-steps-icon {
  font-family: Poppins;
}

.ant-select-multiple .ant-select-selection-placeholder {
  font-family: Poppins;
}

.ant-form-item .ant-form-item-explain-error {
  font-family: Poppins;
}

.ant-picker-outlined {
  border-color: #1C4792;
}

.ant-picker .ant-picker-input>input:placeholder-shown {
  font-family: Poppins;
}

.ant-picker-dropdown .ant-picker-ranges {
  font-family: Poppins;
}

.ant-picker-dropdown .ant-picker-time-panel-column>li.ant-picker-time-panel-cell .ant-picker-time-panel-cell-inner {
  font-family: Poppins;
}

.ant-btn-primary[disabled] {
  background: #f5f5f5 !important
}

.ant-select-selector {
  border-color: #1C4792 !important;
}

.ant-steps-finish-icon {
  color: #0DB7AA !important;
}

/* step 2 */

.drag-and-drop-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.ant-upload-wrapper .ant-upload-drag {
  border-color: #1C4792 !important;
  background-color: transparent !important;
}

.upload-img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.ant-upload-wrapper .ant-upload-list {
  margin-top: 3rem;
  margin-bottom: 1rem;
  display: flex !important;
  flex-wrap: wrap !important;
}

.ant-upload-list-item-container {
  flex-grow: 1 !important;
}

/* Step 3 */

.ant-select-selector {
  border-color: #1C4792 !important;
  padding: 10px;
}

.ant-select-single {
  height: 35px;
}